body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-20px;
  width:414px;
  height:736px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u1 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:168px;
  top:290px;
  width:78px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:20px;
  top:666px;
  width:70px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:168px;
  top:610px;
  width:78px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:200px;
  top:666px;
  width:110px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:320px;
  top:666px;
  width:94px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
