body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u28 {
  position:absolute;
  left:0px;
  top:-20px;
  width:414px;
  height:736px;
}
#u29 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
