body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u48 {
  position:absolute;
  left:0px;
  top:-20px;
  width:414px;
  height:736px;
}
#u49 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:20px;
  top:656px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:117px;
  top:656px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:226px;
  top:656px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:13px;
  top:42px;
  width:186px;
  height:103px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:3px;
  top:155px;
  width:404px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:0px;
  top:412px;
  width:407px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:3px;
  top:362px;
  width:401px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
