body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u19 {
  position:absolute;
  left:0px;
  top:-20px;
  width:414px;
  height:736px;
}
#u20 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:64px;
  width:414px;
  height:652px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
