body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u57 {
  position:absolute;
  left:0px;
  top:-20px;
  width:414px;
  height:736px;
}
#u58 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:24px;
  top:656px;
  width:67px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:111px;
  top:656px;
  width:73px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:218px;
  top:656px;
  width:78px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:-2px;
  top:462px;
  width:416px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:24px;
  top:157px;
  width:141px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:230px;
  top:157px;
  width:151px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:24px;
  top:252px;
  width:390px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:11px;
  top:360px;
  width:390px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:11px;
  top:402px;
  width:390px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
