body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u8 {
  position:absolute;
  left:0px;
  top:-20px;
  width:414px;
  height:736px;
}
#u9 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:119px;
  top:656px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:223px;
  top:656px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:330px;
  top:656px;
  width:61px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:79px;
  top:201px;
  width:257px;
  height:245px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
